# Eclipse project folder
.settings/

# build output
*.class
*.war
*.ear
/target
/out

# IDE related
/.idea
/*.iml
/.classpath
/*.eml
/.project

# binary file
*.dat
*.bin
*.yes
MANIFEST.MF

# system file
**/.DS_Store
.java-version